# Ignorar archivos de estado y bloqueo de Terraform
*.tfstate
*.tfstate.*
*.tfplan
*.lock.hcl
*.tfstate.lock.info

# Ignorar directorios de Terraform
.terraform/

# Ignorar binarios y licencias de proveedores
**/terraform-provider-*.exe
**/LICENSE.txt